html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/clouds.png);
  font-family: 'Cabin', Arial, Geneva, sans-serif;
}

.outer-wrapper {
  margin: 0 auto;
}
.header-wrapper {
  text-align: center;
}
.nav-wrapper {
  border-bottom: 3px solid #cc8850;
}
.scallop-banner {
  height: 12px;
  background: url(../img/scallop.png) repeat-x;
}

.nav-item {
  margin: 0.6em 0;
  width: 50%;
}
.nav-item a {
  color: #c80060;
  text-decoration: none;
}
.nav-item a:hover {
  color: #00c4c7;
}
.nav-item a:active {
  color: #006d6e;
}
.nav-items {
  background-color: #e6bf98;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0.75em;
  width: 100%;
}

.gallery-wrapper {
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em;
  width: 100%;
}
.gallery-container {
  list-style-type: none;
  text-align: center;
  width: 100%;
}
.main-hl-gallery {
  border-bottom: 2px dotted #c80060;
  color: #c80060;
  font-family: 'Niconne', cursive;
  font-size: 3em;
  font-weight: 400;
  margin: 0;
  width: 100%;
}
.gallery-item {
  margin: 20px 0;
}
.gallery-img {
  border-radius: 10px;
}

/* footer */
.footer-wrapper {
  background-color: #00c4c7;
  border-radius: 10px;
  color: #fff;
  margin: 1em 0 0 0;
  padding: 1em;
}
.footer-text,
.footer-links {
  text-align: center;
}
.footer-text a {
  color: #fff;
  margin-top: 1em;
  text-decoration: none;
}
.footer-link svg {
  color: #fff;
  height: 50px;
  margin: 1em 0.5em;
}

/* media queries */
@media (min-width: 640px) {
  .header-wrapper {
    text-align: left;
  }
  .banner-img {
    background: url(../img/home/header-850.jpg) no-repeat;
    height: 130px;
  }
  .nav-items {
    display: flex;
    padding: 0.75em 0.75em 0.75em 1.75em;
    width: 100%;
  }
  .nav-item {
    margin: 0 1em 0 0;
    width: auto;
  }
  .gallery-container {
    display: grid;
    gap: 1em 5%;
    grid-template-columns: repeat(auto-fill, 30%);
    margin: 20px 0 0 0;
  }
  .gallery-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 880px) {
  .outer-wrapper {
    padding-left: calc((100vw - 840px) / 2);
    padding-right: calc((100vw - 840px) / 2);
  }
  .bkgrdimg {
    background: url(../img/home/header-1200.jpg) no-repeat;
    height: 183px;
  }
  .gallery-container {
    gap: 0.75em 4%;
    grid-template-columns: repeat(auto-fill, 22%);
  }
}
