html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/clouds.png);
  font-family: 'Cabin', Arial, Geneva, sans-serif;
}

.outer-container {
  margin: 0 auto;
  padding: 1.5em 1.5em 3em 1.5em;
}

img {
  border-radius: 10px;
}

/* header */
.header-wrapper {
  text-align: center;
}

.scallop-banner {
  background: url(../img/scallop.png) repeat-x;
  height: 12px;
}

/* nav */
.nav-wrapper {
  border-bottom: 3px solid #cc8850;
}

.nav-item {
  margin: 0.6em 0;
  width: 50%;
}

.nav-item a {
  color: #c80060;
  text-decoration: none;
}

.nav-item a:hover {
  color: #00c4c7;
}

.nav-item a:active {
  color: #006d6e;
}

.nav-items {
  background-color: #e6bf98;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0.75em;
  width: 100%;
}

/* content, general */
.main-wrapper {
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em;
  width: 100%;
}

.headline-main,
.headline-second {
  border-bottom: 2px dotted #c80060;
  color: #c80060;
  font-size: 2.5em;
  font-family: 'Niconne', cursive;
  font-weight: 400;
  width: 100%;
}

.headline-second {
  font-size: 1.5em;
}

.headline-third {
  font-size: 1em;
  font-weight: 700;
  margin: 25px 0 0 0;
}

.headline-second.testimonial,
.headline-second.pie {
  color: #fff;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2em;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.headline-second.testimonial {
  background-color: #00c4c7;
}

.headline-second.pie {
  background-color: #c80060;
}

.history-text,
.menu-text,
.catering-text,
.contact-text {
  margin-top: 1em;
}

.img-special-pie,
.img-home-menu-pie,
.img-menu-pie,
.img-catering-whole-pie {
  margin-top: 0.5em;
  width: 100%;
}

.img-history,
.img-pie-of-the-month,
.img-gallery {
  width: 100%;
}

/* home page */
.home-article-wrapper {
  margin: 18px 0 0 0;
}

.home-article-text {
  margin-top: 0.5em;
}

.home-article-text.main {
  margin-top: 2em;
}

/* home page button */
.home-article-btn {
  background-color: #c80060;
  border: 2px solid #c80060;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin: 1em 0;
  padding: 0.3em 1em;
  text-decoration: none;
}

/* menu page */
.headline-second.menu {
  font-size: 1.5em;
  margin-top: 18px;
}

.menu-text {
  margin-top: 0.5em;
}

/* catering page */
.catering-list {
  margin-left: 20px;
  padding-left: 0;
}

/* pie gallery */
.gallery-wrapper {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.gallery-item {
  margin: 20px 0;
}

/* history page */
.img-pie-of-the-month {
  background-size: cover;
  border-radius: 0 0 10px 10px;
  display: block;
}

.history-article.first,
.history-section-wrapper {
  margin-top: 2em;
}

.history-section.first {
  border: 1px solid #00c4c7;
  border-radius: 10px;
}

.history-section.second {
  border: 1px solid #c80060;
  border-radius: 10px;
  margin-top: 2em;
}

.history-blockquote {
  padding: 1em;
}

blockquote cite {
  display: block;
  margin-top: 1em;
  text-transform: uppercase;
}

/* contact page */
.contact-form {
  margin-top: 1em;
}
.contact-info,
.contact-pie {
  border: none;
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  width: 100%;
}
.contact-pie {
  margin-top: 2em;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  padding: 5px;
  width: 100%;
}
legend {
  color: #c80060;
  font-size: 1.2em;
  font-weight: 700;
}
label {
  display: block;
}
.labeltext {
  margin-top: 1em;
}
p.labeltext {
  margin: 1em 0;
}
.contact-info label {
  font-weight: 700;
  margin-top: 1em;
}
#name,
#phone,
#email,
#date,
#qty,
#filling {
  height: 40px;
  padding-left: 15px;
  width: 100%;
}

/* contact submit button */
.contact-btn {
  background-color: #c80060;
  border-radius: 30px;
  color: #fff;
  font-family: 'Niconne', cursive;
  font-size: 1.5em;
  margin-top: 0.55em;
  padding: 0.2em 1.5em;
  text-decoration: none;
}

/* footer */
.footer-wrapper {
  background-color: #00c4c7;
  border-radius: 10px;
  color: #fff;
  margin: 1em 0 0 0;
  padding: 1em;
}

.footer-text,
.footer-links {
  text-align: center;
}

.footer-text a {
  color: #fff;
  margin-top: 1em;
  text-decoration: none;
}

.footer-link svg {
  color: #fff;
  height: 50px;
  margin: 1em 0.5em;
}

/* media queries */
@media (min-width: 640px) {
  .header-wrapper {
    text-align: left;
  }

  .nav-items {
    display: flex;
    padding: 0.75em 0.75em 0.75em 1.75em;
    width: 100%;
  }

  .nav-item {
    margin: 0 1em 0 0;
    width: auto;
  }

  .home-banner-img {
    background: url(../img/home/header-850.jpg) no-repeat;
    height: 130px;
  }

  .home-article-wrapper {
    display: grid;
    gap: 0.75em 8%;
    grid-template-columns: repeat(auto-fill, 46%);
    grid-template-rows: auto;
  }

  .headline-second.menu {
    grid-column: 1 / 3;
  }

  .menu-article {
    display: grid;
    grid-column: 1 / 3;
    gap: 0 2%;
  }

  .menu-text {
    grid-column: 2 / 3;
  }

  .menu-catering {
    grid-column: 1 / 3;
  }

  .catering-article {
    display: grid;
    gap: 0 4%;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-template-rows: auto;
    margin-top: 2em;
  }

  .catering-text,
  .img-catering-whole-pie {
    margin-top: 0;
  }

  .img-catering-whole-pie {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .catering-list {
    margin-top: 10px;
  }

  .headline-third.catering,
  .catering-text:last-child {
    grid-column: 1 / 3;
  }

  .catering-text:last-child {
    grid-column: 1 / 3;
    margin-top: 25px;
  }

  .gallery-wrapper {
    display: grid;
    gap: 1em 5%;
    grid-template-columns: repeat(auto-fill, 30%);
    margin: 20px 0 0 0;
  }

  .history-article.first {
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-template-rows: auto;
  }

  .img-history-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .history-text {
    margin-top: 1em;
  }

  .history-text.first {
    margin-top: 0;
    grid-column: 1 / 2;
  }

  .history-section-wrapper {
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-template-rows: auto;
  }

  .history-section.second {
    margin-top: 0;
  }
}

@media (min-width: 880px) {
  .outer-container {
    padding-left: calc((100vw - 840px) / 2);
    padding-right: calc((100vw - 840px) / 2);
  }

  .headline-main {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .home-banner-img {
    background: url(../img/home/header-1200.jpg) no-repeat;
    height: 183px;
  }

  .home-article-wrapper {
    display: grid;
    gap: 0.75em 4%;
    grid-template-columns: repeat(auto-fill, 22%);
    grid-template-rows: auto;
  }

  .img-special-pie {
    width: 100%;
  }

  .main-wrapper.menu,
  .main-wrapper.history,
  .main-wrapper.catering {
    display: grid;
    gap: 0 2%;
    grid-template-columns: repeat(auto-fill, 35%);
  }

  .gallery-wrapper {
    gap: 0.75em 4%;
    grid-template-columns: repeat(auto-fill, 22%);
  }

  .history-section-wrapper.menu {
    display: block;
  }

  .history-section.menu.second {
    margin-top: 1em;
  }

  .history-article.first,
  .catering-article {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .history-article.second {
    grid-column: 1 / 3;
  }

  .history-section-wrapper {
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 1em;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}
